{% extends "layout.html" %}

{% block title %}
soumyajit and i
{% endblock %}

{% block content %}

<h1 class="text-center mt-4">Welcome to soumyajit's Django project  </h1>
<h2>{% if from.instance.pk%} Edit Tweet {% else %} Create tweet {% endif %}
<form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-warning" type="submit">Submit</button>

</form>
<a href="{% url 'tweet_list' %}">Back to list</a>
</h2>
{% endblock %}